.uitoolkit-settings-container {
    margin-left: 9px;
    margin-top: 1px;
}

.uitoolkit-settings-header {
    font-size: 19px;
    -unity-font-style: bold;
    margin-bottom: 12px;
}

.uitoolkit-settings-advanced-header {
    font-size: 14px;
    -unity-font-style: bold;
    margin-bottom: 8px;
}

.unity-toggle > .unity-label {
    min-width: 255px;
}
